@charset "UTF-8";

body, html {
    margin: 0%;
    padding: 0%;
}

nav > h1 {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0%;
    padding: 30px;
    font-size: 2.5em;
}

ul, li {
    background-color: black;
    color: white;
    margin: 0%;
    display: flex;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);
    font-size: 1.3em;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
}

a:hover {
    background-color: rgba(240, 255, 255, 0.473);
    border-radius: 5px;
}

.tijolo {
    height: 800px;
    background-color: aquamarine;
    background: url(Imagem\ do\ WhatsApp\ de\ 2025-05-19\ à\(s\)\ 21.40.22_d3c21b63.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.imagem, .imagem2 {
    height: 800px;
    background-color: blue;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

#img1 {
    background: url(Imagem\ do\ WhatsApp\ de\ 2025-05-19\ à\(s\)\ 21.40.26_86d0c2d6.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

#img2 {
    background: url(Imagem\ do\ WhatsApp\ de\ 2025-05-19\ à\(s\)\ 21.40.22_e600006d.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

#img3 {
    background: url(Imagem\ do\ WhatsApp\ de\ 2025-05-19\ à\(s\)\ 21.40.22_becfbcb6.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

h2, p {
    font-size: 1.2em;
    padding-left: 80px;
    padding-right: 80px;
}

/* CAIXA CENTRAL COM TEXTO CENTRALIZADO E FUNDO TRANSLÚCIDO */
div {
    background-color: rgba(250, 235, 215, 0.74);
    max-width: 700px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: #000;
    font-family: Arial, sans-serif;
}
.tijolo, .imagem2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
